body{
    margin: 0;
}

header{
    background-color: #cbcbcb;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: left;
    position: relative;
}

h1{
    position: relative;
    padding: 0;
    text-align: left;
}

nav{
    position: absolute;
    top: 50px;
    right: 30px;
    text-align: right;
}
